@tailwind base;
@tailwind components;
@tailwind utilities;

@import './css/tokens.css';
@import './css/base.css';
@import './css/components.css';

@layer base {
  body {
    @apply antialiased text-black;
  }
}

/* Modern Subtle Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}